@page "/commune/create"
@using DAL.Models
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager NavigationManager

<NavLink class="nav-link" href="commune/index">◀ Danh sách Xã / Phường</NavLink>
<hr />
<h5>
    Thêm mới Xã / Phường
</h5>
<br />
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Tên: </label>
    <div class="col-sm-3">
        <input class="form-control" @bind=commune.Name>
    </div>
    <span>@errorMessage</span>
</div>
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Tỉnh / Thành phố: </label>
    <div class="me-5 col-sm-3">
        <select class="form-select" @onchange="OnCityChanged" aria-label="Default select example">
            <option selected disabled></option>
            @if (listCities != null)
            {
                @foreach (var city in listCities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            }
        </select>
    </div>
    <label class="col-sm-2 col-form-label">Quận / Huyện: </label>
    <div class="col-sm-3">
        <select class="form-select" @bind=commune.DistrictId aria-label="Default select example">
            <option selected></option>
            @if (listDistrictsByCityId != null)
            {
                @foreach (var district in listDistrictsByCityId)
                {
                    <option value="@district.Id">@district.Name</option>
                }
            }       
        </select>
    </div>
</div>
<hr />
<button class="btn btn-success" @onclick="@(() => Add())">Thêm</button>


@code {
    List<City> listCities = null;
    City city = new();

    List<District> listDistricts = null;
    List<District> listDistrictsByCityId = null;
    District district = new();

    Commune commune = new();

    string errorMessage = string.Empty;
    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        await Task.Delay(1000);

        var client = _httpClientFactory.CreateClient();

        var responseDistrict = await client.GetFromJsonAsync<List<District>>("https://localhost:7219/api/Districts");
        listDistricts = responseDistrict;

        var responseCity = await client.GetFromJsonAsync<List<City>>("https://localhost:7219/api/Cities");
        listCities = responseCity;
    }
    async Task OnCityChanged(ChangeEventArgs e)
    {
        var selectedCityId = Guid.Parse(e.Value.ToString());
        commune.CityId = selectedCityId;

        await LoadDistrictsByCityId(selectedCityId);
    }

    async Task LoadDistrictsByCityId(Guid id)
    {
        listDistrictsByCityId = listDistricts.Where(x => x.CityId == id).ToList();
    }

    async Task Add()
    {
        if (string.IsNullOrWhiteSpace(commune.Name))
        {
            errorMessage = "Tên không được rỗng hoặc chứa toàn khoảng trắng";
        }
        else
        {
            commune.Id = Guid.NewGuid();
            var client = _httpClientFactory.CreateClient();
            var response = await client.PostAsJsonAsync<Commune>("https://localhost:7219/api/Communes", commune);

            errorMessage = string.Empty;
            message = "Thêm thành công";

            NavigationManager.NavigateTo("/commune/index");

        }
    }


}
