@page "/commune/detail/{id}"
@using DAL.Models
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager NavigationManager

<NavLink class="nav-link" href="commune/index">◀ Danh sách Xã / Phường</NavLink>
<hr />
<h5>
    Chi tiết Xã / Phường
</h5>
<br />
<div class="mb-3 row">
    <label class="col-sm-1 col-form-label">Tên: </label>
    <div class="col-sm-3">
        <input class="form-control" @bind=commune.Name>
    </div>
    <span>@errorMessage</span>
</div>
<div class="mb-3 row">
    <label class="col-sm-1 col-form-label">Quận / Huyện: </label>
    <div class="col-sm-3">
        <select class="form-select" @bind=commune.DistrictId aria-label="Default select example">
            <option selected>Open this select menu</option>
            @if (listDistricts == null)
            {
                <option value="1">1</option>
            }
            else
            {
                @foreach (var district in listDistricts)
                {
                    <option value="@district.Id">@district.Name</option>
                }
            }
        </select>
    </div>
    <span>@errorMessage</span>
</div>
<hr />
<button class="btn btn-success" @onclick="@(() => Update())">Sửa</button>
<span>@message</span>


@code {
    List<District> listDistricts = null;
    District district = new();

    [Parameter]
    public string id { set; get; }

    Commune commune = new();
    string errorMessage = string.Empty;
    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Details(Guid.Parse(id));
        await LoadData();
    }

    async Task Details(Guid id)
    {
        var client = _httpClientFactory.CreateClient();
        var response = await client.GetFromJsonAsync<Commune>($"https://localhost:7219/api/Communes/{id}");

        commune = response;
    }

    async Task LoadData()
    {
        await Task.Delay(1000);

        var client = _httpClientFactory.CreateClient();
        var response = await client.GetFromJsonAsync<List<District>>("https://localhost:7219/api/Districts");

        listDistricts = response;
    }

    async Task Update()
    {
        if (string.IsNullOrWhiteSpace(commune.Name))
        {
            errorMessage = "Tên không được rỗng hoặc chứa toàn khoảng trắng";
        }
        else
        {
            var client = _httpClientFactory.CreateClient();
            var response = await client.PutAsJsonAsync<Commune>("https://localhost:7219/api/Communes", commune);

            NavigationManager.NavigateTo("/commune/index");

        }
    }
}
