@page "/commune/index"
@using DAL.Models
@inject IHttpClientFactory _httpClientFactory

<h4>
    Danh sách Xã / Phường
</h4>
<a class="btn btn-primary" href="commune/create">Thêm mới</a>
<button class="btn btn-primary" @onclick="@(() => ReLoadData())">Tải lại danh sách</button>
<hr />
<div class="mb-3 row">
    <div class="col-sm-4">
        <input class="form-control" placeholder="Nhập tên muốn tìm kiếm" @bind=commune.Name>
    </div>
    <button class="col-sm-1 btn btn-success" @onclick="@(() => Search(commune.Name))">Tìm kiếm</button>
</div>

<br />
@if (listCommuneJoin == null && listCommuneJoinSearchByCityName == null && listCommuneJoinSearchByDistrictName == null && listCommuneJoinSearchByName == null)
{
    <div class="spinner-border m-5" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Quận / Huyện</th>
                <th>Tỉnh / Thành phố</th>
            </tr>
        </thead>
        <tbody>
            @if (listCommuneJoinSearchByName != null)
            {
                @foreach (var commune in listCommuneJoinSearchByName)
                {
                    <tr>
                        <td>@commune.Name</td>
                        <td>@commune.DistrictName</td>
                        <td>@commune.CityName</td>
                        <td>
                            <a class="btn btn-info" href="/commune/detail/@commune.Id">Chi tiết</a>
                            <button class="btn btn-danger" @onclick="@(() => Delete(commune.Id))">Xóa</button>
                        </td>
                    </tr>
                }
            }
            @if (listCommuneJoinSearchByDistrictName != null)
            {
                @foreach (var commune in listCommuneJoinSearchByDistrictName)
                {
                    <tr>
                        <td>@commune.Name</td>
                        <td>@commune.DistrictName</td>
                        <td>@commune.CityName</td>
                        <td>
                            <a class="btn btn-info" href="/commune/detail/@commune.Id">Chi tiết</a>
                            <button class="btn btn-danger" @onclick="@(() => Delete(commune.Id))">Xóa</button>
                        </td>
                    </tr>
                }
            }
            @if (listCommuneJoinSearchByCityName != null)
            {
                @foreach (var commune in listCommuneJoinSearchByCityName)
                {
                    <tr>
                        <td>@commune.Name</td>
                        <td>@commune.DistrictName</td>
                        <td>@commune.CityName</td>
                        <td>
                            <a class="btn btn-info" href="/commune/detail/@commune.Id">Chi tiết</a>
                            <button class="btn btn-danger" @onclick="@(() => Delete(commune.Id))">Xóa</button>
                        </td>
                    </tr>
                }
            }
            @if (listCommuneJoinSearchByName == null && listCommuneJoinSearchByDistrictName == null && listCommuneJoinSearchByCityName == null)
            {
                @foreach (var commune in listCommuneJoin)
                {
                    <tr>
                        <td>@commune.Name</td>
                        <td>@commune.DistrictName</td>
                        <td>@commune.CityName</td>
                        <td>
                            <a class="btn btn-info" href="/commune/detail/@commune.Id">Chi tiết</a>
                            <button class="btn btn-danger" @onclick="@(() => Delete(commune.Id))">Xóa</button>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>

}

<span>@errorMessage</span>


@code {
    List<City> listCities = null;
    City city = new();
    List<District> listDistricts = null;
    District district = new();
    List<Commune> listCommunes = null;
    Commune commune = new();
    public class CommuneJoin
    {
        public Guid Id { get; set; }
        public string Name { get; set; }
        public string DistrictName { get; set; }
        public string CityName { get; set; }
    }
    List<CommuneJoin> listCommuneJoin = null;
    List<CommuneJoin> listCommuneJoinSearchByName = null;
    List<CommuneJoin> listCommuneJoinSearchByDistrictName = null;
    List<CommuneJoin> listCommuneJoinSearchByCityName = null;
    string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        await Task.Delay(1000);

        var client = _httpClientFactory.CreateClient();

        var responseCommune = await client.GetFromJsonAsync<List<Commune>>("https://localhost:7219/api/Communes");
        listCommunes = responseCommune;

        var responseDistrict = await client.GetFromJsonAsync<List<District>>("https://localhost:7219/api/Districts");
        listDistricts = responseDistrict;

        var responseCity = await client.GetFromJsonAsync<List<City>>("https://localhost:7219/api/Cities");
        listCities = responseCity;

        listCommuneJoin = (from commune in listCommunes
                           join district in listDistricts on commune.DistrictId equals district.Id
                           join city in listCities on district.CityId equals city.Id
                           select new CommuneJoin
                               {
                                   Id = commune.Id,
                                   Name = commune.Name,
                                   DistrictName = district.Name,
                                   CityName = city.Name
                               }).ToList();
    }
    async Task ReLoadData()
    {
        listCommuneJoinSearchByName = null;
        listCommuneJoinSearchByDistrictName = null;
        listCommuneJoinSearchByCityName = null;
    }

    async Task Delete(Guid id)
    {
        var client = _httpClientFactory.CreateClient();
        var response = await client.DeleteAsync($"https://localhost:7219/api/Communes/{id}");

        await LoadData();
    }

    async Task Search(string name)
    {
        await Task.Delay(1000);

        listCommuneJoinSearchByName = listCommuneJoin.Where(x => x.Name == name).ToList();
        listCommuneJoinSearchByDistrictName = listCommuneJoin.Where(x => x.DistrictName == name).ToList();
        listCommuneJoinSearchByCityName = listCommuneJoin.Where(x => x.CityName == name).ToList();
    }


    

    
}
