@page "/ethnic/index"
@using DAL.Models
@inject IHttpClientFactory _httpClientFactory

<h4>
    Danh sách Dân tộc
</h4>
<a class="btn btn-primary" href="ethnic/create">Thêm mới</a>
<button class="btn btn-primary" @onclick="@(() => LoadData())">Tải lại danh sách</button>
<hr />
<div class="mb-3 row">
    <div class="col-sm-4">
        <input class="form-control" placeholder="Nhập tên muốn tìm kiếm" @bind=ethnic.Id>
    </div>
    <button class="col-sm-1 btn btn-success" @onclick="@(() => Search(ethnic.Id))">Tìm kiếm</button>
    @*<span>@errorMessage</span>*@
</div>

<br />
@if (listEthnics == null)
{
    <div class="spinner-border m-5" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ethnic in listEthnics)
            {
                <tr>
                    @* <td>@(listCities.IndexOf(city) +1)</td> *@
                    <td>@ethnic.Name</td>
                    <td>
                        <a class="btn btn-info" href="/ethnic/detail/@ethnic.Id">Chi tiết</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(ethnic.Id))">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<span>@errorMessage</span>


@code {
    List<Ethnic> listEthnics = null;
    Ethnic ethnic = new();
    string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        await Task.Delay(1000);

        var client = _httpClientFactory.CreateClient();
        var response = await client.GetFromJsonAsync<List<Ethnic>>("https://localhost:7219/api/Ethnics");

        listEthnics = response;

        errorMessage = string.Empty;
    }

    async Task Delete(Guid id)
    {
        var client = _httpClientFactory.CreateClient();
        var response = await client.DeleteAsync($"https://localhost:7219/api/Ethnics/{id}");

        await LoadData();
    }

    async Task Search(Guid id)
    {
        await Task.Delay(1000);

        var client = _httpClientFactory.CreateClient();
        var response = await client.GetFromJsonAsync<Ethnic>($"https://localhost:7219/api/Ethnics/{id}");

        listEthnics.Clear();
        listEthnics.Add(response);
    }



}
