@page "/district/detail/{id}"
@using DAL.Models
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager NavigationManager

<NavLink class="nav-link" href="district/index">◀ Danh sách Huyện / Quận</NavLink>
<hr />
<h5>
    Chi tiết Huyện / Quận
</h5>
<br />
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Tên: </label>
    <div class="col-sm-3">
        <input class="form-control" @bind=district.Name>
    </div>
    <span>@errorMessage</span>
</div>
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Tỉnh / Thành phố: </label>
    <div class="col-sm-3">
        <select class="form-select" @bind=district.CityId aria-label="Default select example">
            <option selected>Open this select menu</option>
            @if (listCities != null)
            {
                @foreach (var city in listCities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            }
        </select>
    </div>
    <span>@errorMessage</span>
</div>
<hr />
<button class="btn btn-success" @onclick="@(() => Update())">Sửa</button>
<span>@message</span>


@code {
    List<City> listCities = null;
    City city = new();

    [Parameter]
    public string id { set; get; }

    District district = new();
    string errorMessage = string.Empty;
    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Details(Guid.Parse(id));
        await LoadData();
    }

    async Task Details(Guid id)
    {
        var client = _httpClientFactory.CreateClient();
        var response = await client.GetFromJsonAsync<District>($"https://localhost:7219/api/Districts/{id}");

        district = response;
    }

    async Task LoadData()
    {
        await Task.Delay(1000);

        var client = _httpClientFactory.CreateClient();
        var response = await client.GetFromJsonAsync<List<City>>("https://localhost:7219/api/Cities");

        listCities = response;
    }

    async Task Update()
    {
        if (string.IsNullOrWhiteSpace(district.Name))
        {
            errorMessage = "Tên không được rỗng hoặc chứa toàn khoảng trắng";
        }
        else
        {
            var client = _httpClientFactory.CreateClient();
            var response = await client.PutAsJsonAsync<District>("https://localhost:7219/api/Districts", district);

            NavigationManager.NavigateTo("/district/index");

        }
    }
}
