@page "/diploma/create"
@using DAL.Models
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager NavigationManager

<NavLink class="nav-link" href="diploma/index">◀ Danh sách Văn bằng</NavLink>
<hr />
<h5>
    Thêm mới Văn bằng
</h5>
<br />
<div class="mb-3 row">
    <label class="col-sm-1 col-form-label">Tên: </label>
    <div class="me-5 col-sm-3">
        <input class="form-control" @bind=diploma.Name>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-sm-1 col-form-label">Ngày cấp: </label>
    <div class="me-5 col-sm-2">
        <input type="date" class="form-control" @bind=diploma.IssueDate>
    </div>
    <label class="col-sm-2 col-form-label">Ngày hết hạn: </label>
    <div class="col-sm-2">
        <input type="date" class="form-control" @bind=diploma.ExpiryDate>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-sm-1 col-form-label">Nơi cấp: </label>
    <div class="me-5 col-sm-3">
        <select class="form-select" @bind=diploma.CityId aria-label="Default select example">
            <option selected></option>
            @if (listCity != null)
            {
                @foreach (var city in listCity)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            }
        </select>
    </div>
    <label class="col-sm-1 col-form-label">Nhân viên: </label>
    <div class="col-sm-3">
        <select class="form-select" @bind=diploma.EmployeeId aria-label="Default select example">
            <option selected></option>
            @if (listEmployee != null)
            {
                @foreach (var employee in listEmployee.Where(x => x.DiplomaNumber < 3))
                {
                    <option value="@employee.Id">@employee.FullName</option>
                }
            }
        </select>
    </div>
    <label class="col-sm-2 col-form-label">
        Chỉ hiện người có dưới 3 văn bằng chưa hết hạn
    </label>
</div>
<hr />
<button class="btn btn-success" @onclick="@(() => Add())">Thêm</button>
<span>@message</span>


@code {
    List<Employee> listEmployee = null;
    Employee employee = new();

    List<City> listCity = null;
    City city = new();

    List<Diploma> listDiplomas = null;
    Diploma diploma = new();

    string errorMessage = string.Empty;
    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        await Task.Delay(1000);

        var client = _httpClientFactory.CreateClient();

        var responseEmployee = await client.GetFromJsonAsync<List<Employee>>("https://localhost:7219/api/Employees");
        listEmployee = responseEmployee;

        var responseDiploma = await client.GetFromJsonAsync<List<Diploma>>("https://localhost:7219/api/Diplomas");
        listDiplomas = responseDiploma;

        foreach (var diploma in listDiplomas)
        {
            int result = DateTime.Compare(diploma.ExpiryDate, DateTime.Now);

            if (result <= 0) diploma.Status = 0;
            else diploma.Status = 1;
        }

        foreach (var employee in listEmployee)
        {
            employee.DiplomaNumber = listDiplomas.Where(x => x.Status == 1).Count(x => x.EmployeeId == employee.Id);
        }

        var responseCity = await client.GetFromJsonAsync<List<City>>("https://localhost:7219/api/Cities");
        listCity = responseCity;
    }

    async Task Add()
    {
        if (string.IsNullOrWhiteSpace(diploma.Name))
        {
            errorMessage = "Tên không được rỗng hoặc chứa toàn khoảng trắng";
        }
        else
        {
            diploma.Id = Guid.NewGuid();

            var client = _httpClientFactory.CreateClient();

            var response = await client.PostAsJsonAsync<Diploma>("https://localhost:7219/api/Diplomas", diploma);

            errorMessage = string.Empty;
            message = "Thêm thành công";

            NavigationManager.NavigateTo("/diploma/index");

        }
    }


}
